version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - ml
    environment:
      - MODEL_URL=http://ml:5000/predict

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  ml:
    build: ./ml
    container_name: ml
    ports:
      - "5000:5000"
