version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
      - ml_module
    environment:
      DATABASE_URL: postgresql://project_user:password123@db:5432/project_db
      SECRET_KEY: secret-key-12345
      FRONTEND_URL: http://localhost:3000
      MODEL_URL: http://ml_module:8001/predict
    networks:
      - project_network

  db:
    image: postgres:15
    container_name: project_postgres
    restart: always
    environment:
      POSTGRES_USER: project_user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: project_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - project_network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - project_network

  ml_module:
    build: ./ml_module
    container_name: ml_module
    ports:
      - "8001:8001"
    networks:
      - project_network

networks:
  project_network:

volumes:
  postgres_data:
